[Unit]
Description=Gost Service
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/qiangguo/gost/gost -C /opt/qiangguo/gost/config.json
ExecStartPre=/opt/qiangguo/pre-start.sh
ExecStopPost=/opt/qiangguo/post-stop.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
