# strategy for node selecting
#strategy        random
#strategy        round
strategy       fifo

max_fails       5

fail_timeout    10s

# period for live reloading
reload          60s

# peers
peer https://user:password@1.2.3.4:443
peer https://user:password@1.2.3.5:443
peer https://user:password@1.2.3.6:443
