[Unit]
Description=ss-local
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/qiangguo/shadowsocks/ss-local -c /opt/qiangguo/shadowsocks/ss-local.conf
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
