[Unit]
Description=ss-redir
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/qiangguo/shadowsocks/ss-redir -c /opt/qiangguo/shadowsocks/ss-redir.conf
ExecStartPre=/opt/qiangguo/pre-start.sh
ExecStopPost=/opt/qiangguo/post-stop.sh
Restart=on-failure
RestartPreventExitStatus=23
