[Unit]
Description=ss-redir
After=network.target
Wants=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/tunnel/shadowsocks/ss-redir -c /opt/tunnelshadowsocks/ss-redir.conf
ExecStartPre=/opt/tunnel/pre-start.sh
ExecStopPost=/opt/tunnel/post-stop.sh
Restart=on-failure
RestartPreventExitStatus=23
